.carouselContainer {
  position: relative;
  overflow: hidden;
  .carouselBody {
    display: flex;
    flex-wrap: nowrap;
  }
  .carouselButton {
    position: absolute;
    color: #44caff;
    font-size: 40px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}
